<h1 class="section-title"><%= @current_user %>: "<span><%=h(@list.name)%></span>" tasks </h1>
<ul class="task-list">
<% @list.tasks.each do |task| %>
  <li class="task-list__task <% if task.closed %>task-list__task--done<% end %> cf">
    <input type="checkbox"
           class="task-state transition pressable"
           data-task-id="<%= task.id %>"
           data-list-id="<%= @list.id %>"
           name="<%= @list.id.to_s + '_' + task.id.to_s %>"
           <% if task.closed %>checked="checked"<% end %> >
           <label class="pressable transition" for="<%= @list.id.to_s + '_' + task.id.to_s %>"><% if task.closed %>Done <% else %> Todo <% end %></label>
    <div class="task-list__task__info">
        <span class="task-list__task__info__date"><%= h(task.date) %></span>
        <span class="task-list__task__info__title"><%= h(task.title) %></span>
    </div>
    <input type="button" class="task-list__task__delete transition" data-task-id="<%= task.id %>" data-list-id="<%= @list.id %>" value="Delete" />
  </li>
<% end %>
</ul>

<hr class="segment-divider" />
<section id="new-task" class="control-group">
  <div>
    <a href="/" id="back" class="topcoat-button-bar__button--large data-entry__back control-group__action transition pressable">Back</a>
    <input type="text" class="topcoat-text-input data-entry__input transition" id="new-task-title" value="" placeholder="Title of the new task..." />
    <input type="button" class="topcoat-button-bar__button--large data-entry__submit control-group__action transition topcoat-button--large--cta pressable" id="add-new-task" data-list-id="<%= @list.id %>" value="Add" />
    <input type="button" class="hidden topcoat-button-bar__button--large topcoat-button--large--cta pressable" id="reopen-list" data-list-id="<%= @list.id %>" value="Reopen" />
  </div>
</section>