<h1>Tasks for "<%= h(@list.name) %>" of <%= @current_user %></h1>

<a href="/">Back</a>

<ul>
<% @list.tasks.each do |task| %>
  <li>
    <span><%= h(task.title) %></span>

    <input type="checkbox"
           class="task-state"
           data-task-id="<%= task.id %>"
           data-list-id="<%= @list.id %>"
           <% if task.closed %>checked="checked"<% end %> />

    <span><%= h(task.date) %></span>
    <input type="button" class="delete-task" data-task-id="<%= task.id %>" data-list-id="<%= @list.id %>" value="Delete" />
  </li>
<% end %>
</ul>


<hr class="segment-divider" />
<section id="new-task">
  <div>
    <input type="text" class="topcoat-text-input data-entry__input transition" id="new-task-title" value="" placeholder="Title of the new task..." />
    <input type="button" class="topcoat-button-bar__button--large data-entry__submit transition" id="add-new-task" data-list-id="<%= @list.id %>" value="Add" />
  </div>
</section>

<section class="hidden">
  <input type="button" id="reopen-list" data-list-id="<%= @list.id %>" value="Reopen" />
</section>

<script type="text/javascript">
  (function() {
    "use strict";

    $(".delete-task").on("click", function (event) {
        var $this = $(this);

        $this.prop("disabled", true);

        $.ajax({
            url: "/lists/" + $this.attr("data-list-id") + "/tasks/" + $this.attr("data-task-id"),
            type: "DELETE",
            success: function () {
                window.location.reload();
            },
            error: function(error) {
                console.error(error);
            }
        });

        event.preventDefault();
        return false;
    });

    $(".task-state").on("click", function (event) {
        var $this = $(this);

        $this.prop("disabled", true);

        $.ajax({
            url: "/lists/" + $this.attr("data-list-id") + "/tasks/" + $this.attr("data-task-id") + "/toggle",
            type: "POST",
            success: function () {
                $this.prop("disabled", false);
            },
            error: function(error) {
                $this.prop("disabled", false);
                console.error(error);
            }
        });
    });

    $("#new-task-title").on("keyup", function (event) {
      if(event.keyCode === 13){
        $("#add-new-task").click();
      }
    });

    $("#add-new-task").on("click", function (event) {
        var $name = $("#new-task-title");
        var name = $name.val();
        var $this = $(this);

        $name.removeClass("invalid");

        if (name) {
            $this.prop("disabled", true);

            $.ajax({
                url: "/lists/" + $this.attr("data-list-id") + "/tasks/new/" + name,
                type: "PUT",
                success: function () {
                    window.location.reload();
                },
                error: function(error) {
                    console.error(error);
                }
            });
        } else {
            $name.addClass("invalid");
        }

        event.preventDefault();
        return false;
    });

    // $("#reopen-list").on("click", function (event) {
    //     var $this = $(this);

    //     $this.prop("disabled", true);

    //     $.ajax({
    //         url: "/lists/" + $this.attr("data-list-id") + "/reopen",
    //         type: "POST",
    //         success: function () {
    //             window.location.reload();
    //         },
    //         error: function(error) {
    //             console.error(error);
    //         }
    //     });

    //     event.preventDefault();
    //     return false;
    // });
} ());
</script>