<h1>
  Lists for
  <%= @current_user %></h1>

<ul class="task-lists">
  <% @lists.each do |list| %>
    <% if list.available == true %> <%# REMOVE %>
      <li class="task-lists__list task-lists__list--highlightable cf transition">
        <a href="/lists/<%= list.id %>" class="task-lists__list__info">
          <span class="task-lists__list__info__date">
            <%= h(list.date) %></span>
          <span class="task-lists__list__info__title">
            <%= h(list.name) %></span>
        </a>
        <input type="button" class="task-lists__list__delete pressable transition" data-list-id="<%= list.id %>" value="Delete" /></li>
   <% end %> <%# REMOVE %>
  <% end %>
</ul>

<hr class="segment-divider" />
<section id="new-list" class="control-group">
  <div>
    <a href="/users/logout" id="back" class="topcoat-button-bar__button--large data-entry__back control-group__action pressable transition">Quit</a>
    <input type="text" class="topcoat-text-input data-entry__input transition" id="new-list-name" value="" placeholder="Name of the new list..." />
    <input type="button" class="topcoat-button-bar__button--large data-entry__submit control-group__action topcoat-button--large--cta transition pressable" id="add-new-list" value="Add" />
  </div>
</section>