<h1>Lists for <%= @current_user %></h1>



<ul>
<% @lists.each do |list| %>
  <li>
    <span><a href="/lists/<%= list.id %>"><%= h(list.name) %></a></span>
    <span><%= h(list.date) %></span> <span><%= h(list.available) %></span>
    <input type="button" class="delete-list" data-list-id="<%= list.id %>" value="Delete" />
  </li>
<% end %>
</ul>

<hr class="segment-divider" />
<section id="new-list">
  <div>
  <a href="/users/logout" class="topcoat-button-bar__button--large data-entry__back">Quit</a>
    <input type="text" class="topcoat-text-input data-entry__input transition" id="new-list-name" value="" placeholder="Name of the new list..." />
    <input type="button" class="topcoat-button-bar__button--large data-entry__submit topcoat-button--large--cta transition" id="add-new-list" value="Add" />
  </div>
</section>