<!DOCTYPE html>
<html>
<head>
  <title>Todo List</title>
  <%= stylesheet_link_tag "topcoat/css/topcoat-desktop-dark", media: "all", "data-turbolinks-track" => true %>  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
</head>
<body>
  <section class="app dark">
        <header class="main-header">
            <h1>To do</h1>
        </header>
      <%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
  </section>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
